.rightSidebar {
  box-shadow: 0 0 20px -5px black;
  z-index: 1;
  background: url('../static/backgrounds/sidebar_right.png') no-repeat;
  background-size: cover;
  background-color: var(--color-light);
  background-blend-mode: multiply;
  transition: background 1s;
  height: 100vh;
}

.titles {
  position: relative;
}

.sidebarBox {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
