.lesson {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.containerHouse {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-grow: 1;
  align-items: center;
}

.containerRoof {
  composes: containerHouse;
  margin-top: 100px;
}

.singleMessage {
  padding: 10%;
  font-size: 2rem;
}

.house {
  position: relative;
  flex-grow: 1;
  padding: 10px;
}

.house svg {
  filter: drop-shadow(3px 3px 2px #3e3939);
}

.letterRoof,
.letterHouse {
  position: absolute;
  text-shadow: 2px 2px 3px #3e3939;
  top: -110px;
  left: 0;
  font-size: 6rem;
  text-align: center;
  width: 100%;
}
.letterHouse {
  color: var(--color-lightest);
}

.image {
  position: absolute;
  top: 10%;
  width: 20%;
  left: 40%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 15%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.buttonNext {
  margin-top: 5px;
  height: 15vh;
}
