.input {
  min-height: 60px;
}
.input input {
  outline: none;
  background: transparent;
  border: none;
  width: 100%;
  padding: 5px 0;
  box-sizing: border-box;
  transition: box-shadow 0.3s;
  box-shadow: inset 0 -1px 0 0 var(--color-dark);
}

.input input:focus {
  transition: box-shadow 0.3s;
  box-shadow: inset 0 -4px 0 -1px var(--color-dark);
}

.input.invalid input {
  box-shadow: inset 0 -4px 0 -1px #db2626;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 6px;
  cursor: pointer;
  background: var(--color-dark);
  transition: background 1s;
}
.input input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  margin: 5.85px 0;
  box-shadow: none;
}
.input input[type='range']::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 12px;
  background: var(--color-darkest);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.95px;
  transition: background 1s;
}
.input input[type='range']:focus {
  outline: none;
}

.inputsWrapper {
  display: flex;
}

.msg {
  color: gray;
  font-size: 0.8rem;
}
.input.invalid .msg {
  color: #db2626;
}

.image {
  width: 200px;
  padding: 20px;
}
