.sidebar {
  position: fixed;
  width: 300px;
  height: 100vh;
  background: url('../../static/backgrounds/sidebar.png') no-repeat;
  background-size: cover;
  background-color: var(--color-light);
  background-blend-mode: multiply;
  transition: background 1s;
  z-index: 2;
  box-shadow: 0 0 20px -5px black;
}

.fade {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: black;
  will-change: opacity;
}

.contentWrapper {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
  min-width: 200px;
  box-sizing: border-box;
}
.content h3,
.content h4 {
  align-self: flex-start;
}

.buttonOpenContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10px;
}

.buttonOpen {
  padding-bottom: 10px;
}

.buttonClose {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1;
}

.sidebar.left {
  left: 0;
}

.sidebar.right {
  right: 0;
}

.sidebar.left .buttonOpenContainer {
  right: -40px;
}

.sidebar.right .buttonOpenContainer {
  left: -40px;
}
